@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import "tailwindcss";

body {
  font-family: 'NanumSquare', sans-serif;
}

:root{
  --gradient-blue-start: #60a5fa; /* tailwind blue-400 */
  --gradient-blue-end: #2563eb;   /* tailwind blue-600 */
}
